{% extends "page_base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<article>
    <h1>Page not found</h1>

    <h2>Sorry, this page could not be found.</h2>
</article>
{% endblock %}
