{% load static wagtailcore_tags wagtailimages_tags wagtailuserbar home %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    {% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
    {% with self.get_site.site_name as site_name %}
    {% if site_name %}- {{ site_name }}{% endif %}
    {% endwith %}
    {% endblock %}
  </title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/amber.css' %}">
<style>
{% get_home_page as home_page %}
{% with home=home_page.specific %}
#banner {
  background: url({{ home.banner_image.file.url }}) no-repeat center/cover;
}
{% endwith %}
</style>

  {% block extra_css %}
  {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
  {% block header %}
  <header>
    {% get_home_page as home_page %}
    {% with home=home_page.specific %}
    <div id="banner">
      {# image home.banner_image fill-800x250 #}
      <h1><a href="{% pageurl home %}">{{ home.banner_text }}</a></h1>
    </div>
    {% endwith %}
  </header>
  {% endblock %}

  {% block menu %}
  {% get_home_page as home_page %}
  {% with home=home_page.specific %}
  <nav>
    <ul>
      {% for item in home.navigation %}
      <li>
        {% include_block item %}
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endwith %}
  {% endblock %}
  <div id="content">
    {% block content %}{% endblock %}

    {% block footer %}
    <footer>
      <small>
        Site content copyright © 2017 Amber Herbert.  Site code copyright © 2017
        Taylor C. Richberger.  Code is
        <a href="https://github.com/Taywee/amberherbert.com">
          available publicly under the MIT License
        </a>.
      </small>
    </footer>
    {% endblock %}
  </div>

  {# Global javascript #}
  <script type="text/javascript" src="{% static 'js/amber.js' %}"></script>

  {% block extra_js %}
  {# Override this in templates to add extra javascript #}
  {% endblock %}

  {% wagtailuserbar 'bottom-right' %}
</body>
</html>
