{% load static wagtailcore_tags wagtailuserbar amber_tags wagtailimages_tags %}

{% wagtail_site as site %}
<!doctype html>
<html encoding="UTF-8" charset="UTF-8" dir="ltr" lang="en-US" language="English" prefix="og: http://ogp.me/ns#"
  itemtype="http://schema.org/WebPage">
<!-- This site runs on free software: https://gitlab.com/Taywee/amberherbert.com -->

<head>
  <script type="module">
    console.log("This site runs on free software: https://gitlab.com/Taywee/amberherbert.com");
  </script>

  <title>
    {% block title %}
    {% if page %}
    {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
    {% endif %}
    {% endblock %}
    {% block title_suffix %}
    {% if site.site_name %}- {{ site.site_name }}{% endif %}
    {% endblock %}
  </title>
  <meta charset="UTF-8" />
  <meta author="Amber Herbert" />
  <meta name="keywords" content="writing, writer, short stories, fiction, poetry, author, novels, books, literature" />
  {% if page %}
  <meta name="title" content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}">
  <meta name="description" content="{{ page.search_description }}" />
  <meta property="og:url" content="{{ page.get_url }}">
  <meta property="og:title" content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}">
  <meta property="og:description" content="{{ page.search_description }}">
  <!-- Twitter -->
  <meta property="twitter:url" content="{{ page.get_url }}">
  <meta property="twitter:title"
    content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}">
  <meta property="twitter:description" content="{{ page.search_description }}">
  {% if page.image %}
  {% image page.image width-700 as page_image %}
  <meta property="og:image" content="{{ page_image.url }}">
  <meta property="twitter:image" content="{{ page_image.url }}">
  <meta property="twitter:card" content="summary_large_image">
  {% endif %}
  {% if page|is_feed %}
  <link rel="alternate" type="application/atom+xml" href="{{ page.get_full_url }}?feed=atom"
    title="{{ page.title }} Atom Feed">
  <link rel="alternate" type="application/rss+xml" href="{{ page.get_full_url }}?feed=rss"
    title="{{ page.title }} RSS Feed">
  {% endif %}
  {# Set canonical link to exclude pages and tags #}
  <link rel="canonical" href="{{ page.get_full_url }}" />
  {% endif %}

  <meta name="theme-color" content="#191625">
  <meta name="HandheldFriendly" content="True" />
  <meta name="language" content="en_US" />
  <meta http-equiv="Page-Enter" content="RevealTrans(Duration=1.0,Transition=1)" />
  <meta http-equiv="Page-Exit" content="RevealTrans(Duration=1.0,Transition=1)" />
  <meta property="og:type" content="website">
  {% if site.site_name %}
  <meta property="og:site_name" content="{{ site.site_name }}">
  {% endif %}
  <meta property="og:locale" content="en_US">

  <meta name="viewport" content="width=device-width, initial-scale=1" />


  <!-- Fonts -->
  <style type="text/css">
    @font-face {
      font-family: baskerville;
      src: local("Baskerville Old Face"),
      url({% static 'font/BaskervilleOldFace.woff2' %});
      font-style: normal;
    }
  </style>

  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/amber.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">

  {% block extra_css %}
  {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body>
  {% wagtailuserbar %}
  {% block body %}{% endblock %}
  {% block extra_js %}
  {# Override this in templates to add extra javascript #}
  {% endblock %}
</body>

</html>