{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar amber_tags wagtailimages_tags %}

{% block body %}
{% wagtail_site as site %}
{% with root=site.root_page.specific %}
<div id="headerbackgroundfade">
</div>
<div id="content">
  <header id="site-header">
    <a href="{{ root.get_url }}">
      <picture id="logo">
        {% image root.logo_image width-1024 format-webp as webp_image %}
        <source srcset="{{ webp_image.url }}" type="image/webp">

        {% image root.logo_image width-1024 format-png as png_image %}
        <img src="{{ png_image.url }}">
      </picture>
      {% include "amber/_navigation.html" with root=site.root_page %}
  </header>

  {% block content %}{% endblock %}

  <footer id="site-footer">
    <p>{{ root.footer }}</p>
    <p>© 2021-2023 Amber Herbert</p>
  </footer>
  {% endwith %}
  {% endblock %}