{% extends "page_base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<section>
  <header>
    <h1>Search</h1>
  </header>

  <form action="{% url 'search' %}" method="get">
    <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
    <input type="submit" value="Search" class="button">
  </form>

  {% if search_results %}
  {% for result in search_results %}
  {% include "search/_search-listing.html" with post=result.specific %}
  {% endfor %}

  {% url 'search' as url %}
  {% include "amber/_page-chooser.html" with current_page=search_results page_range=page_range url=url query=search_query only %}

  {% elif search_query %}
  No results found
  {% endif %}
</section>
{% endblock %}
