{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}publishedwork{% endblock %}

{% block content %}
<aside class="summary">{{ page.summary }}</aside>
{% if page.generate_navigation %}
<nav>
  <ul>
    {% for chapter in page.chapters %}
    {% include_block chapter with nav=True %}
    {% endfor %}
  </ul>
</nav>
{% endif %}
<article>
  <header><h1>{{ page.title }}</h1></header>
  <div class="content">
    {% for chapter in page.chapters %}
    {% include_block chapter %}
    {% endfor %}
  </div>
</article>
{% if page.tags.all.count %}
<div class="tags">
  <h3>Tags</h3>
  {% for tag in page.tags.all %}
  <a href="{% pageurl page.get_parent %}?tags={{ tag }}"><button type="button">{{ tag }}</button></a>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
