{% load static wagtailcore_tags wagtailimages_tags amber_tags %}

<nav id="site-navigation">
  <ul>
    {% for item in root.get_children.live.in_menu %}
    {% currentpath item.get_url as current %}
    <li class="navitem{% if current %} current{% endif %}">
      <a href="{{ item.get_url }}"><div>{{ item.title }}</div></a>
    </li>
    {% endfor %}

    {% url 'search' as searchurl %}
    {% currentpath searchurl as current %}
    <li class="navitem{% if current %} current{% endif %}"><a href="{% url 'search' %}"><div>Search</div></a></li>
  </ul>
</nav>
