{% load amber_tags %}

{% if current_page.has_other_pages %}
<section class="pages">
  {% if current_page.has_previous %}
  <a href="{{ url }}{% build_query query=query tags=tags page=current_page.previous_page_number %}">&lt;</a>
  {% endif %}

  {% for page in page_range %}
  {% if page is None %}
  ·
  {% elif page == current_page.number %}
  <span class="current">{{ page }}</span>
  {% else %}
  <a href="{{ url }}{% build_query query=query tags=tags page=page %}">{{ page }}</a>
  {% endif %}
  {% endfor %}

  {% if current_page.has_next %}
  <a href="{{ url }}{% build_query query=query tags=tags page=current_page.next_page_number %}">&gt;</a>
  {% endif %}
</section>
{% endif %}
