{% load static wagtailcore_tags wagtailimages_tags amber_tags %}

<article class="post-listing">
  <header>
    <h2>
      <a href="{{ post.get_url }}">{{ post.title }}</a>
    </h2>
    {# <p>Posted by {{ post.owner.first_name }} {{ post.owner.last_name }} on <i><time datetime="{{ post.created|date:'c' }}">{{ post.created|date }}</time></i>.</p> #}
    <p><i><time datetime="{{ post.created|date:'c' }}">{{ post.created|date }}</time></i></p>
  </header>

  {% block body %}
  {{ post.body|richtext }}
  {% endblock %}
</article>
