{% extends "page_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags amber_tags %}

{% block content %}
<section>
  <header>
    {% if children_page.number > 1 %}
    <p>page {{ children_page.number }}</p>
    {% endif %}
  </header>

  {% block listing %}
  {% for child in children_page %}
  {% include "amber/_post-listing.html" with post=child %}
  {% endfor %}
  {% endblock %}

  {% include "amber/_page-chooser.html" with current_page=children_page page_range=page_range url=self.get_url tags=tags only %}

  {% if available_tags %}
  <section class="tags">
    <header>
      <h2>Tags</h2>
    </header>
    <div class="taglist">
      <ul>
        {% for tag in available_tags %}
        <li>
          {% if tag in tags %}
          {% with combined=tags|without_tag:tag %}
          <a class="selected" href="{{ self.get_url }}{% build_query tags=combined %}">{{ tag }}</a>
          {% endwith %}
          {% else %}
          {% with combined=tags|with_tag:tag %}
          <a href="{{ self.get_url }}{% build_query tags=combined %}">{{ tag }}</a>
          {% endwith %}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% endif %}
</section>
{% endblock content %}
