{% extends "base.html" %}
{% load static wagtailuserbar amber_tags wagtailimages_tags wagtailcore_tags %}

{# This is here to make sure the home page doesn't have a title of `Amber Herbert - Amber Herbert` #}
{% block title_suffix %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-5.15.4/css/fontawesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-5.15.4/css/brands.min.css' %}">
{% endblock %}

{% block body %}
<div id="homefloat"></div>
<div id="logocontainer">
  <div id="social-links">
    <ul>
      {% for social_link in page.social_links %}
      {% include_block social_link %}
      {% endfor %}
    </ul>
  </div>
  <picture id="logo">
    {% image page.logo_image width-1024 format-webp-lossless as webp_image %}
    <source srcset="{{ webp_image.url }}" type="image/webp">

    {% image page.logo_image width-1024 format-png as png_image %}
    <img src="{{ png_image.url }}">
  </picture>
  {% include "amber/_navigation.html" with root=page.get_site.root_page %}
</div>
{% endblock %}
