{% extends "page_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<article>
  <iframe class="mailing-list" src="{{ page.form_url }}"></iframe>
</article>
{% endblock content %}
