{% extends "page_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<article>
  {% for child in self.get_children.live %}
  <section>
    <header>
      <h2><a href="{{ child.get_url }}">{{ child.title }}</a></h2>
    </header>
    <p>{{ child.search_description }}</p>
  </section>
  {% endfor %}
</article>
{% endblock content %}
