{% extends "page_base.html" %}
{% load static wagtailcore_tags wagtailimages_tags amber_tags %}

{% block content %}
<article>
  <header>
    <div class="breadcrumbs">
    <small>
    {% breadcrumbs page.get_parent as breadcrumb_pages %}
    {% for breadcrumb_page in breadcrumb_pages %}
    {% if forloop.counter0 > 0 %}
    &gt;
    {% endif %}
    <a href="{{ breadcrumb_page.url }}">{{ breadcrumb_page }}</a>
    {% endfor %}
    </small>
    </div>
    <h1>{{ self.title }}</h1>
    {# <p>Posted by {{ post.owner.first_name }} {{ post.owner.last_name }} on <i><time datetime="{{ post.created|date:'c' }}">{{ post.created|date }}</time></i>.</p> #}
    <p><i><time datetime="{{ post.created|date:'c' }}">{{ post.created|date }}</time></i></p>
  </header>

  {{ self.body|richtext }}

  <section class="tags">
    <header>
      <h2>Tags</h2>
    </header>
    <div class="taglist">
      <ul>
        {% for tag in self.tags.all %}
        <li>
          <a href="{{ self.get_parent.get_url }}?tags={{ tag.name }}">{{ tag.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</article>
{% endblock content %}

