:root {
    --keycap-background: #191625;
    --keycap-letter: #deddd8;
    --keycap-bevel: #919793;

    --navigation: silver;
    --navigation-hover: #60ce38;
    --navigation-current: #60ce38;
}

body {
    background-image: url(/static/images/darkwood.jpg);
    background-repeat: repeat;
}

#content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

#headerbackgroundfade {
    background: linear-gradient(black 50%, transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30em;
}

#headerbackgroundimage {
    background-image: url(/static/images/typewriter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 10 / 2;
    position: absolute;
    width: 100%;
    height: auto;
    box-shadow: inset 0 -1em 1em 1em black;
}

#site-footer {
    font-family: sans-serif;
    font-size: small;
    margin: 2em;
}

#site-footer * {
    color: var(--keycap-letter);
}

header, footer p, h3 {
    font-family: baskerville;
}

h3 {
    font-size: larger;
    text-decoration: underline;
}

.pages {
    text-decoration: none;
    font-family: baskerville;
}

a {
    color: inherit;
}

.featured-posts {
    margin: 2em;
}

#content > section > article, #content > article {
    background-color: linen;
    background-repeat: repeat;
    margin: 2em;
    padding: 2em;
    filter: sepia(25%);
}

img.full-width {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 50vh;
}

#site-header {
    width: 100%;
    text-align: center;
}

#titleblock {
    text-align: center;
}
#titleblock a {
    color: var(--keycap-letter);
    display: inline-block;
    font-size: 24pt;
    margin: 1em;
    filter: drop-shadow(2px 2px 2px #000000);
}

#site-navigation {
    font-family: baskerville;
    width: 100%;
    z-index: 2;
    display: inline-block;
    font-size: x-large;
    letter-spacing: 0.1em;
    font-weight: bold;
}

#site-header div {
    vertical-align: middle;
}

#site-navigation a {
    text-decoration: none;
}

#site-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}

.pages, .tags {
    margin-top: 3em;
}

.tags ul {
    list-style: none;
    padding: 0;
}

.tags li {
    display: inline-block;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 1em;
}

.tags a, .pages a, .pages .current {
    font-family: baskerville;
    padding: 0.5em;
    text-decoration: none;
    border-color: var(--keycap-bevel);
    border-style: ridge groove groove ridge;
    border-width: 0.15em;
    border-radius: 10em;
    background-color: var(--keycap-background);
    color: var(--keycap-letter);
}

.tags a.selected, .pages .current {
    text-decoration: none;
    border-color: var(--keycap-bevel);
    border-style: ridge groove groove ridge;
    border-width: 0.15em;
    border-radius: 10em;
    background-color: var(--keycap-letter);
    color: var(--keycap-background);
}

#site-navigation li div {
    transition-duration: 0.5s;
    color: var(--navigation);
    filter: drop-shadow(2px 2px 2px #000000);
    margin-top: 0.5em;
}

#site-navigation li {
    display: inline-block;
    position: relative;
}

#site-navigation li div {
    padding: 0.5rem;
}

#site-navigation li:hover > a div, #site-navigation div.current {
    color: var(--navigation-hover);
}

#site-navigation .current div {
    color: var(--navigation-current);
}

.post-listing {
    margin-top: 1em;
    margin-bottom: 1em;
}

.post-listing header h2 {
    display: inline;
}

.breadcrumbs {
    text-align: right;
    width: 100%;
}

#logo {
    color: silver;
    font-family: baskerville;
    font-size: 5em;
    text-align: center;
    letter-spacing: 0.05em;
}

#logo img {
    object-fit: contain;
    width: 100%;
    max-width: 5em;
}

#site-header #logo img {
    max-height: 1em;
    margin-top: 0.5em;
}

iframe.mailing-list {
    width: 100%;
    height: 40em;
    border: 0;
}
