body {
    height: 100%;
}

#homefloat {
    float: left;
    height: 50%;
    margin-bottom: -250px;
}

#logocontainer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#social-links {
    width: 100%;
    display: inline-block;
}

#social-links li {
    display: inline-block;
    font-size: x-large;
    margin: 1em;
}

#social-links i {
    text-decoration: none;
    color: dimgrey;
}

#social-links ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}
